<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ur-Dragon Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .bg-purple {
            background-color: #663399 !important;
        }

        body, html {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #050505;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: white !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-purple mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Ur-Dragon Site</a>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" href="/">Lobby</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Jogos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Galactic Defender</a></li>
                                <li><a class="dropdown-item" href="#">Shuffle Cups</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Charts</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Gráfico Anual</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>